extends ./layout.pug

block content
    h1 Superheroes
    p This site shows superheroes information
    each superhero in variables.superheroes
        div.superhero-container
            a(href="/superheroes/" + variables.superheroes.id )
                img(src='/img/superheroes/' + superhero.image)
                h3= superhero.name